#box{
   border: 4px solid;
   border-color: rgb(85, 160, 160);
   width: 200px;
   height: 200px;
   background-color: rgb(255, 255, 255);
   color: rgb(235, 28, 28);
   text-align: center;
   line-height: 200px;
   border-radius: 20px;
   transform:skew(25deg);
   

   
}
#box:hover{
    transform: rotate(180deg);
    box-shadow: 20px 10px crimson;
}